* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #fff;
    --lightgray: #F7F7F7;
    --gray: #E7ECEF;
    --dark: #141B41;
    --highlighted: #FFCB47;
    --contrast: #4A5043;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: white;
    position: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 100%;
    height: calc(100vh - 8rem);
    max-width: 1000px;
    border: none;
}

#topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 4rem;
    padding: 0 1rem;
    background-color: var(--background);
    border-bottom: 3px solid var(--lightgray);
}

#topNav ul {
    display: flex;
    list-style: none;
}

#register,
#login,
#logout {
    border-radius: 5px;
    padding: 1rem;
    margin: 0 0.5rem;
    border: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#register {
    background-color: var(--highlighted);
    color: var(--dark);
}

#register:hover {
    background-color: var(--dark);
    color: var(--background);
}

#login {
    background-color: transparent;
    color: var(--dark);
}

#login:hover {
    background-color: var(--dark);
    color: var(--background)
}

#logout {
    background-color: var(--highlighted);
}

#logout:hover {
    background-color: var(--dark);
}

#topNavLeft {
    display: flex;
    align-items: center;
    list-style: none;
}

#topNavLeft li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark);
}

#topNavLeft li a img {
    width: 5rem;
    margin-right: 0.5rem;
}

#topNavLeft li a h1 {
    font-size: 2rem;
}

#topNavLeft li a h1 b {
    color: var(--highlighted);
}

#bottomNav {
    width: 100vw;
    height: 4rem;
    background-color: var(--background);
    border-top: 3px solid var(--lightgray);
}

#bottomNav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#bottomNav ul li {
    height: 100%;
}

#bottomNav ul li img {
    margin: 0.5rem;
    height: 100%;
    aspect-ratio: 1/1;
    transition: all 0.3s;
}

#bottomNav ul li img:active {
    transform: scale(0.8);
    background-color: var(--background);
}

#bottomNav ul li img {
    width: 2rem;
    height: 2rem;
}

.hidden {
    display: none;
}

@media (max-width: 650px) {
    #topNavLeft li a img {
        width: 3rem;
    }

    #topNavLeft li a h1 {
        font-size: 1.5rem;
    }

    #topNavLeft li a h1 b {
        color: var(--highlighted);
    }
}

@media (max-width: 550px) {
    #topNavLeft li a h1 {
        display: none;
    }

    #topNavLeft li a h1 {
        font-size: 1rem;
    }

    #topNavLeft li a h1 b {
        color: var(--highlighted);
    }
}

@media (max-width: 380px) {
    /* font size of everything smaller */
    body {
        font-size: 0.8rem;
    }
}

@media (max-height: 550px) {
    #topNavRight li a {
        padding: 0.5rem;
    }
}