* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #fff;
    --lightgray: #F7F7F7;
    --gray: #E7ECEF;
    --dark: #141B41;
    --highlighted: #FFCB47;
    --contrast: #4A5043;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    margin-top: 10vh;
    width: 100%;
    max-width: 1000px;
    min-height: 85vh;
    border: none;
}

#topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 5rem;
    padding: 0 1rem;
    background-color: var(--background);
    border-bottom: 3px solid var(--lightgray);
}

#topNav ul {
    display: flex;
    list-style: none;
}

#register,
#login,
#logout {
    border-radius: 5px;
    padding: 1rem;
    margin: 0 0.5rem;
    border: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

#register {
    background-color: var(--highlighted);
    color: var(--dark);
}

#register:hover {
    background-color: var(--dark);
    color: var(--background);
}

#login {
    background-color: transparent;
    color: var(--dark);
}

#login:hover {
    background-color: var(--dark);
    color: var(--background)
}

#logout {
    background-color: var(--highlighted);
}

#logout:hover {
    background-color: var(--dark);
}

#topNavLeft {
    display: flex;
    align-items: center;
    list-style: none;
}

#topNavLeft li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--dark);
}

#topNavLeft li a img {
    width: 15vh;
    margin-right: 0.5rem;
}

#topNavLeft li a h1 {
    font-size: 2rem;
}

#topNavLeft li a h1 b {
    color: var(--highlighted);
}

#bottomNav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5rem;
    background-color: var(--background);
    border-top: 3px solid var(--lightgray);
}

#bottomNav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#bottomNav ul li {
    height: 100%;
}

#bottomNav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem;
    height: 100%;
    aspect-ratio: 1/1;
    transition: all 0.3s;
}

#bottomNav ul li a:hover {
    border-radius: 0 0 50% 50%;
}

#bottomNav ul li a:active {
    transform: scale(0.8);
    background-color: var(--background);
}

#bottomNav ul li a img {
    width: 2rem;
    height: 2rem;
}

.hidden {
    display: none;
}