/*
    Fonts: 
    font-family: 'Comic Neue', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tektur', sans-serif;
*/

/* root */
:root {
    --turquoise: #335c67;
    --lightYellow: #fff3b0;
    --darkYellow: #e09f3e;
    --lightRed: #9e2a2b;
    --darkRed: #540b0e;
}


* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    width: 100vw;
    height: 100px;
    transition: background-color 0.3s ease;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navLink:hover {
    background-color: #fff3b0;
    color: black;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0px;
    height: 100px;
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    height: 100%;
    padding: 0 20px;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
}

.navLink {
    transition: all 0.3s ease;
}

.app {
    height: unset;
}

.app a {
    background-color: var(--lightYellow);
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.app a:hover {
    background-color: var(--darkYellow);
}

#logo {
    font-family: 'Tektur', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    height: 100%;
}

#logo img {
    height: 100%;
}

#logoProfi, #logoAsphalt {
    font-size: 3rem;
    letter-spacing: 3px;
}

#logoAsphalt {
    color: white;
}

#logoProfi {
    color: var(--lightRed);
}

#burger {
    display: none;
}

#burger li {
    filter: invert(1);
    font-size: 3rem;
    margin-right: 2rem;
    cursor: pointer;
}

#burgerList {
    display: none;
    position: absolute;
    top: 100px;
    left: 100vw;
    background-color: var(--turquoise);
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: left 0.3s ease;
}

#burgerList li:last-child {
    margin: 20px 0;
}

#arrowToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--lightYellow);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.9rem;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    align-items: center;
    background-color: #000000b8;
    color: white;
    font-family: "Raleway", sans-serif;
    overflow: hidden;
    height: 80vh;
    width: 100vw;
}

#carousel {
    display: flex;
    position: relative;
    list-style: none;
    z-index: -1;
    width: 100vw;
    max-height: 80vh;
    padding: 0;
    margin: 0;
    transform: translateX(-100vw);
}

#carousel li img {
    object-fit: cover;
    width: 100vw;
    height: 80vh;
}

#title {
    padding: 2rem 2rem 2rem 6rem;
    width: 50%;
    position: absolute;
    background-color: #000000;
}

#title h1 {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

#title h1 b {
    color: var(--darkYellow);
}

#title h2 {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    margin-left: 20px;
}

#title a {
    background-color: var(--lightYellow);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-left: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#title a:hover {
    background-color: var(--darkYellow);
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    background-color: #272727;
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 40px 0;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

footer ul li h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer ul li p {
    font-size: 1.2rem;
    font-weight: 300;
    height: 30px;
}

footer ul li a {
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* if link has child h2 then "text-decoration: none;" on link */
footer ul li a:has(h2) {
    text-decoration: none;
}

footer ul li a:hover {
    color: var(--lightYellow);
}

footer ul li table tr {
    height: 30px;
}

footer ul li table tr td {
    padding-right: 20px;
}

@media (max-width: 1400px) {
    #title {
        padding: 2rem 2rem 2rem 2rem;
    }
}

@media (max-width: 1250px) {
    #links {
        display: none;
    }

    #burger {
        display: block;
    }

    #burgerList {
        display: flex;
    }

    #title h1 {
        font-size: 2rem;
    }
}

/* if screen smaller than 1150 */

@media (max-width: 1150px) {
    #description ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    #description ul li {
        margin: 20px 0;
        width: 50%;
    }

    #description ul li:nth-child(2) {
        transform: scale(1);
    }

    #pricing ul{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    #pricing ul li {
        margin: 20px 0;
    }
}

/* if screen smaller than 1100 */
@media (max-width: 1100px) {
    #title {
        width: 60%;
    }
}

/* if screen smaller than 1000 */
@media (max-width: 1000px) {
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer ul {
        flex-direction: column;
        width: unset;
    }

    footer ul li {
        margin: 20px 0;
    }

    #priceList table {
        width: 100%;
    }
}

@media (max-width: 800px) {
    #description ul li {
        width: 90%;
    }

    #title {
        width: 90%;
    }
}

@media (max-width: 600px) {
    #logoProfi, #logoAsphalt {
        font-size: 2.5rem;
    }

    #logo img {
        height: 80%;
    }
}

@media (max-width: 550px) {
    #title h1 {
        font-size: 1.5rem;
        letter-spacing: 5px;
    }
}

@media (max-width: 500px) {
    #logoProfi, #logoAsphalt {
        font-size: 2rem;
    }

    #logo img {
        height: 70%;
    }
}
 
@media (max-width: 450px) {
    #logo h1 {
        display: none;
    }
}

@media (max-width: 380px) {
    #title h1 {
        font-size: 1.2rem;
        letter-spacing: normal;
    }

    #title h2 {
        font-size: 1rem;
        letter-spacing: normal;
    }
}

@media (min-width: 1920px) {
    #title h1 {
        font-size: 3rem;
        letter-spacing: 7px;
    }

    #title h2 {
        font-size: 1.5rem;
        letter-spacing: 3px;
    }

    #title a {
        font-size: 1.5rem;
        padding: 30px;
    }
}