/* Header */

header {
    display: flex;
    align-items: center;
    background-color: #000000b8;
    color: white;
    font-family: "Raleway", sans-serif;
    overflow: hidden;
    height: 80vh;
    width: 100vw;
}

#carousel {
    display: flex;
    position: relative;
    list-style: none;
    z-index: -1;
    width: 100vw;
    max-height: 80vh;
    padding: 0;
    margin: 0;
    transform: translateX(-100vw);
}

#carousel li img {
    object-fit: cover;
    width: 100vw;
    height: 80vh;
}

#title {
    margin-left: 6rem;
    width: 40%;
    position: absolute;
}

#title h1 {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 5px;
}

#title h1 b {
    color: var(--darkYellow);
}

#title h2 {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

#title a {
    background-color: var(--lightYellow);
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#title a:hover {
    background-color: var(--darkYellow);
}

/* Main */

main {
    width: 100%;
}

main > section {
    padding: 5rem 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main > section > * {
    margin-bottom: 40px;
}

main > section > h1 {
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

#description ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#description ul li {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 30px;
    padding: 20px;
    width: 20rem;
    min-height: 20rem;
}

#description ul li h2 {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

#description ul li p {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

#description ul li:nth-child(1) h2 {
    color: var(--darkYellow);
}

#description ul li:nth-child(2) {
    transform: scale(1.2);
}

#description ul li:nth-child(2) h2 {
    color: var(--lightRed);
}

#description ul li:nth-child(3) h2 {
    color: var(--turquoise);
}

main section:nth-child(even) {
    background-color: #e7e9eb;
}

main section:nth-child(odd) {
    background-color: white;
}

#pricing > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

#pricing > ul > li {
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 0 30px;
    transition: all 0.3s ease;
}

#pricing > ul > li:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

#pricing > ul > li h2 {
    font-weight: 300;
    font-size: small;
}

#pricing > ul > li h2 b {
    font-weight: bold;
    font-size: 2.5rem;
}

#pricing > ul > li:nth-child(1) h1 {
    background-color: lightgray;
    color: white;
}

#pricing > ul > li:nth-child(2) h1 {
    background: linear-gradient(45deg, var(--darkYellow), var(--lightYellow));
    color: white;
}

#pricing > ul > li:nth-child(3) h1 {
    background: linear-gradient(45deg, var(--lightRed), var(--darkRed));
    color: white;
}

#pricing > ul > li > * {
    padding: 20px;
}

#pricing > ul > li table tr {
    height: 30px;
}

#pricing > ul > li a {
    background-color: var(--lightYellow);
    margin: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
}

#pricing > ul > li a:hover {
    background-color: var(--darkYellow);
}

#priceList {
    font-family: 'Raleway', sans-serif;
}

#priceList table {
    width: 60rem;
    border-collapse: collapse;
}

#priceList table tr {
    height: 50px;
}

#priceList table th {
    background-color: #335c675e;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}

#priceList table th:nth-child(3) {
    text-align: right;
    padding-right: 20px;
}

#priceList table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

#priceList table tr:nth-child(even) {
    background-color: #e6e6e6;
}

#priceList table tr td {
    padding-left: 20px;
}

#priceList table tr td:nth-child(3) {
    text-align: right;
    padding-right: 20px;
}

@media (max-width: 1150px) {
    #description ul {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    #description ul li {
        margin: 20px 0;
        width: 50%;
    }

    #description ul li:nth-child(2) {
        transform: scale(1);
    }

    #pricing ul{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    #pricing ul li {
        margin: 20px 0;
    }
}

@media (max-width: 1100px) {
    #title {
        margin-left: 2rem;
        width: 60%;
    }
}

@media (max-width: 1000px) {
    #priceList table {
        width: 100%;
    }
}

@media (max-width: 800px) {
    #description ul li {
        width: 90%;
    }

    header {
        justify-content: center;
    }

    #title {
        margin: 0;
        width: 90%;
    }
}